asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
Django==5.1.2
gunicorn==23.0.0
django-cors-headers==4.4.0
djangorestframework==3.15.2
idna==3.10
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==3.0.2
numpy==2.1.2
packaging==24.2
pandas==2.2.3
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.5.2
six==1.16.0
sqlparse==0.5.1
stripe==11.2.0
threadpoolctl==3.5.0
torch==2.5.1
transformers==4.46.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
python-dotenv==1.0.1
celery==5.3.4
redis==5.0.1
django-ratelimit==4.1.0
django-celery-beat==2.7.0
cryptography==43.0.3
Pillow>=10.0.0